.share-article {
  margin-top: 12px;

  &__title {
    font-size: 13px;
    font-weight: 700;
    color: #333333;
    text-align: center;

    @media (min-width: 576px) {
      text-align: left;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 12px;

    @media (min-width: 576px) {
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 12px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: min-content;

    input {
      border: none;
      width: 230px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: inherit;
      margin-right: 10px;
      color: #333333;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
